---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
    font-family:'CabinSketch';
    src: url('../CabinSketch-Regular.otf');
}
@font-face {
    font-family:'Neucha';
    src: url('../Neucha.ttf');
}
/* TABLE OF CONTENTS
SECTION 1: SETUP
1.10 - VARIABLES
1.11 -- Fonts and Colors
1.12 -- Client Colors
1.13 -- Content Width
1.20 - MIXINS
1.21 -- Media Queries
1.22 -- Layout Rules
1.30 - IMPORT AND STYLESHEETS
*
SECTION 2: STRUCTURAL RULES
2.10 - GLOBAL
2.20 - PAGE LAYOUT
2.21 -- Page Overall
2.22 -- Inline Layout
2.23 -- Color Standards
2.30 - HEADER
2.31 -- Logo Area
2.32 -- Main Menu
2.33 -- Mobile Menu
2.34 -- Titles and Content Headers
*
SECTION 3: LOOPS AND BLOCKS
3.10 - HOMEPAGE LAYOUT
3.11 -- Slider
3.20 - BLOG LOOP
3.21 -- Post Image
3.22 -- Category List
3.30 - PORTFOLIO LOOP
3.40 - SOCIAL LOOP
3.50 - SKILLS LOOP
3.60 - CONTACT FORM LAYOUT
*
SECTION 5: PAGE SPECIFIC RULES
5.10 - ABOUT PAGE
5.20 - CONTACT FORM
*
SECTION 6: SPECIFIC ELEMENTS
SECTION 7: DISPLAY NONES
*
SECTION 8: MOBILE STYLES
8.10 - Between 799-1005
8.20 - Between 768-919
8.30 - Below 767
8.40 - Below 600
8.50 - Between 601-767
8.60 - Between 470-800
8.70 - Below 600
8.80 - Below 470
*/

// SECTION 1: SETUP
// 1.10 - VARIABLES
// 1.11 -- Fonts and Colors
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$brand-font:       "CabinSketch";
$secondary-font:   "Neucha";

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$brand-color-sec:  #074AA0;

$grey-color:       #828282;
$grey-color-light: #eee;
$grey-color-dark:  #333;

$transp-val:       0.75;

$bg-image:         url(../assets/images/bg.png);

// 1.12 -- Brand Colors
//?

// 1.13 -- Content Width
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// 1.20 - MIXINS
// 1.21 -- Media Queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin media-query-maxmin($max-width,$min-width) {
    @media screen and (max-width: $max-width) and (min-width: $min-width) {
        @content;
    }
}

// 1.22 -- Layout Rules
@mixin widthprop($maxwidth,$width) {
    max-width: $maxwidth;
    width: $width;
}
@mixin blkstruc($width) {
    display: inline-block;
    vertical-align:top;
    width: $width;
}

// 1.23 -- Color Rules
@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin brand-color($code, $color) {
    .bg-#{$code} {
        background-color: $color;
        &.transp {
            @include background-opacity($color, $transp-val);
        }
    }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// 1.30 - IMPORT STYLESHEETS
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// SECTION 2: STRUCTURAL RULES
// 2.10 - GLOBAL
html {
    -webkit-font-smoothing: antialiased;
}
h2 {
    font-family: $secondary-font;
    font-size:2em;
    margin-bottom:-5px;
}

// 2.20 - PAGE LAYOUT
// 2.21 -- Page Overall
.wrapper {
    max-width: calc(1000px - (30px * 2));
}
.page-content {
    padding: 0;
}
.clearfix {
    display:inline-block;
    &:after {
         visibility: hidden;
         display: block;
         font-size: 0;
         content: " ";
         clear: both;
         height: 0;
     }
 }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// 2.22 -- Inline Layout
.content-left {
    @include blkstruc(49%);
    margin-right:1%;
    float:left;
}
.content-right {
    @include blkstruc(49%);
    float:right;
}

.info-block {
    @include blkstruc(65%);
    margin-right:1%;
}
.avatar-block {
    @include blkstruc(32%);
    margin-left: 1%;
    background-image: $bg-image;
    background-repeat: repeat;
    background-position: center;
    height: 25em;
    overflow:hidden;
    padding-top:1em;
    z-index:1;
    margin-top:-1em;
}
.width- {
    &25 {
        width: 23%;
        display:inline-block;
    }
    &33 {
        width: 33%;
        display: inline-block;
    }
}
.cover {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 20px 0;
    text-align:center;
}
.img-width- {
    &75 img {
        max-width:75%;
        margin:0 auto;
    }
    &50 img {
        max-width:50%;
        margin:0 auto;
    }
}
.float-left img {
    margin: 0 10px 10px 0;
}
.float- {
    &left {
        float:left;
    }
}
// 2.23 -- Color Standards
a .textcolor- {
    &white {
        color:#fff;
    }
}
.textcolor- {
    &white {
        color:#fff;
    }
}

@include brand-color('hack-blue', #64AADB);
@include brand-color('twitter', #A2DAFD);
@include brand-color('black', #000);
@include brand-color('epm', #CE171F);
@include brand-color('rc', #4B181F);
@include brand-color('swc', #01407D);
@include brand-color('mw', #000);
@include brand-color('fm', #01EFFF);
@include brand-color('white', #FFFFFF);
@include brand-color('darkgrey', #333333);

// 2.30 - HEADER
// 2.31 -- Logo Area
.site- {
    &title {
        font-family:$brand-font;
        font-size:4.5em;
        line-height:1em;
        margin-top:.2em;
    }
    &subtitle {
        font-family:$secondary-font;
        font-size:2em;
        line-height:2em;
    }
}
.site-title, .site-subtitle {
    width:100%;
}
// 2.32 -- Main Menu
.navigation {
    background-color:#eee;
    display:block;
    width:100%;
}

nav.site-nav {
    @extend .wrapper;
    width: calc(100% - 0px);
    margin: 0 auto;
    font-family:$secondary-font;
    font-size:1.5em;
    padding: 0px !important;
    line-height: 30px !important;
}

// 2.33 -- Mobile Menu
.trigger {
    a.page-link {
        width: 24%;
        display:inline-block;
        text-align:center;
        margin-right: 0 !important;
        &:first-child {
            text-align:left;
        }
        &:last-child {
            text-align:right;
        }
    }
}

// 2.34 -- Titles and Content Headers
.heading-wrap {
    // Wrapper for non-title section head bands
    width: 100%;
    display:block;
    background-color:#333;
    z-index: 2;
    position:relative;
}
.post-header.fullwidth {
    margin-bottom: 10px;
    background: #333;
    padding: 5px 0;
    z-index: 1;
    position: relative;
}
h2.section-heading {
    @extend .wrapper;
    width: calc(100% - 30px);
    color:#fff;
    font-family:$brand-font;
    font-size:2em;
    margin-bottom:10px;
}
.site-header {
    background-image: $bg-image;
    background-repeat: repeat;
    background-position: center;
}

// SECTION 3: LOOPS AND BLOCKS
// 3.10 - HOMEPAGE LAYOUT
// 3.11 -- Slider
.slider-holder {
    @include blkstruc(32%);
    /*margin-right:1%; */
    float:left;
    .slider-title {
        background-color:$grey-color-dark;
        color: #fff;
        font-family:$secondary-font;
        padding: 10px;
        font-size: 1.3em;
        line-height: 1em;
        height: 1em;
        display:block;
    }
    .slider-block {
        /*border: 2px #333 solid;*/
        height: 18.5em;
    }
    .slider-description {
        background-color:$grey-color-light;
        padding:5px;
        /*border:2px #333 solid;
        border-top:0px;*/
    }
    img {
        height:auto;
        position:relative;
        top:35%;
    }
    a {
        height:100%;
        display:block;
        padding: 10px;
        border-left: #eee 1px solid;
        border-right: #eee 1px solid;
    }
}

// 3.12 -- Hero Header

.home-section.header {
  background-image: url('/assets/images/header.jpg');
  height: 40vh;
  .header-box {
    background-color: rgba(255,255,255,0.75);
    width: 70%;
    padding: 8px 20px 1px;
    margin: 5vh 0 1vh;
    display:inline-block;
    h2 {
      font-family: $secondary-font;
    }
  }
}

.button-link-new {
  display:inline-block;
  padding: 8px 20px 4px;
  font-family: $secondary-font;
  background-color: $brand-color;
  color: #fff;
  @include box-shadow(4px, 4px, 0px, $brand-color-sec);
  font-size: 1.25em;
  margin-right: .25em;
  cursor:pointer;
  border: none;
  transition: box-shadow ease 0.05s, background-color ease 0.05s;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #074AA0;
    box-shadow: 0 0 0 #074AA0;
    transition: box-shadow ease 0.05s, background-color ease 0.05s;
  }
}

// 3.13 -- Info Block

.home-section.info {
  .headshot {
    width:150px;
    display:inline-block;
    border-radius: 75px;
    margin-left: 5%;
    float:right;
  }
  .info-section {
    margin: 70px 0 70px;
    &:first-of-type {
      margin-top:40px;
    }
    &:last-of-type {
      margin-bottom: 40px;
    }
    h2 {
      font-family: $brand-font;
    }
    .description {
      width:70%;
      display:inline-block;
    }
    p a.underline-link {
      color: #000;
      border-bottom: $brand-color 2px solid;
      margin-bottom: -2px;
      line-height: .95em;
      text-shadow:
        1px 1px white,
        1px -1px white,
        -1px 1px white,
        -1px 1px white,
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white,
        0 2px white,
        -1px 2px white,
        1px 2px white;
      transition: text-shadow ease 0.15s, background-color ease 0.15s;
      &:hover {
        border-bottom: $brand-color-sec 2px solid;
        color: #fff;
        text-decoration: none;
        background-color: $brand-color-sec;
        text-shadow: none;
        transition: text-shadow ease 0.15s, background-color ease 0.15s;
      }
    }
  }


}

// 3.20 - BLOG LOOP
.post-list h2 {
    margin-bottom: -5px;
}
.blog-loop.new {
  margin: 20px 0;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: space-between;
}
.blog-thirds {
  flex-basis: 33%;
  background-color: #eee;
  .blog-third-container {
    padding: 4px 10px;
  }
  h3 a {
    font-family: $secondary-font;
    line-height: 1.25em;
    font-size: 22px;
  }
  .post-image .media-holder.post-img {
    padding: 10px 4px 0;
  }
}

// 3.21 -- Post Image
.post-image {
    float:left;
    max-width:325px;
    width:100%;
    margin-right: 15px;
    margin-bottom:15px;
    margin-top:6px;
    overflow:hidden;
    .media-holder {
        width:275px;
        height:115px;
        padding: 10px 25px;
        .media-text {
            font-family: $secondary-font;
        }
        &.layout-thirds {
            .media-col {
                width:32%;
                display:inline-block;
                text-align:center;
                &.media-col-1 {
                    float:left;
                }
                &.media-col-2 {
                    float:none;
                    margin:0 auto;
                }
                &.media-col-3 {
                    float:right;
                }
            }
        }
        &.weight- {
            &sides- {
                &large {
                    .media-col {
                        &.media-col-1, &.media-col-3 {
                            font-size:5em;
                        }
                        &.media-col-2 {
                            font-size:3em;
                            margin-top:.25em;
                        }
                    }
                }
                &small {
                    .media-col {
                        &.media-col-1, &.media-col-3 {
                            font-size:3em;
                            margin-top:.25em;
                        }
                        &.media-col-2 {
                            font-size:5em;
                        }
                    }
                }
            }
            &leftheavy {
                .media-col {
                    &.media-col-1 {
                        font-size:5.5em;
                        text-align:right !important;
                    }
                    &.media-col-3 {
                        font-size:4.5em;
                    }
                    &.media-col-2 {
                        text-align:left !important;
                        font-size:3em;
                        margin-top:.5em;
                    }
                }
            }
            &even {
                .media-col {
                    font-size:5em;
                }
                .media-text {
                    font-size: .75em;
                    top:-.25em;
                    position:relative;
                }
            }
        }
        &.layout-half {
            &.weight-close {
                .media-col {
                    font-size:5em;
                    &.media-col-1 {
                        text-align:right !important;
                    }
                    &.media-col-2 {
                        text-align:left !important;
                    }
                }
            }
            .media-col {
                width: 49%;
                display:inline-block;
                text-align:center;
                &.media-col-3 {
                    display:none !important;
                }
            }
        }
    }
}
.post-title {
    font-size: 2.5em;
    letter-spacing: 0px;
    line-height: 1;
    max-width: calc(1000px - 60px) !important;
    margin: 0 auto;
    font-family: "CabinSketch";
    color: #fff;
    display:block;
}
.post-image .media-holder.post-img {
    width: 275px;
    height: 125px;
    padding: 10px 25px 0;
}
.post-img a {
    height: 100%;
    display:block;
    padding: 0 20px;
}
a.post-category {
    font-size: 14px;
    color: #333;
}

// 3.22 -- Tag List
// Sort of a misnomer, this actually refers to a category list.

ul.tag-box.inline {
    list-style-type: none;
    margin: 0 0 20px 0;
    display: inline-block;
}

.tag-box li {
    display: inline-block;
    a {
        background-color: $grey-color-light;
        padding: 2px 8px;
        display: inline-block;
    }
    a:hover {
        background-color: $grey-color-dark;
        color: #fff;
        text-decoration:none;
        padding: 2px 8px;
    }
    a.active {
        color: #fff;
        background-color: $grey-color-dark;
    }
}

// 3.30 - PORTFOLIO LOOP
.portfolio-holder {
    @include blkstruc(65%);
    margin-left:2%;
    float:left;
    &.standalone {
        width:100% !important;
    }
}
.portfolio-img a {
    height: 100%;
    display:block;
    padding: 0 20px;
}
.portfolio-block {
    @include blkstruc(49%);
    margin-bottom:1em;
    &:nth-of-type(odd) {
        margin-right:1%;
    }
    .portfolio-title {
        background-color:$grey-color-dark;
        color: #fff;
        font-family:$secondary-font;
        padding: 10px;
        font-size: 1.3em;
        line-height: 1em;
        a {
            color:#fff;
        }
        h3 {
            margin-bottom: 0px;
        }
    }
    .portfolio-img {
        height: 8.5em;
        &.testing {
            height: 11em;
        }
        overflow: hidden;
        img {
            height: auto;
            margin:0 auto !important;
            vertical-align: bottom;
            display:block;
            width: auto;
        }
    }
    .portfolio-overlay {
        visibility: hidden;
        opacity: 0;
        margin-top: -11em;
        height: 11em;
        a {
            display:table;
            height:11em;
            width:100%;
            color: #fff;
            h3 {
                padding-top:3em;
                text-align:center;
                font-family: $secondary-font;
                font-size:1.5em;
            }
        }
    }
    &:hover .portfolio-overlay {
        z-index: 10;
        position: relative;
        opacity: 1;
        visibility: visible;
    }
    .portfolio-excerpt {
        background-color:$grey-color-light;
        padding:5px;
    }
}
.portfolio-holder.standalone {
    .portfolio-img {
        height: 12em !important;
        &.testing {
            height:18em !important;
        }
        img {
            height:auto;
        }
    }
    .portfolio-overlay {
        margin-top:-18em;
        height: 18em;
        a {
            height: 18em;
            padding-top:5em;
        }
    }
}
img.portfolio-image {
    width: calc(100% - 20px);
    max-height: 550px;
    height: auto;
    padding: 10px 10px;
}
.photo-caption {
    margin-top: .25em;
    font-size: 1.25em;
}
.photo-block {
    margin-bottom: 15px;
}

.portfolio-holder.new {
  margin-bottom: 2em;
  margin-left: 0 !important;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subholder-portfolio {
  display: flex-inline;
}

.portfolio-square {
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50%;
  transition: background-color ease 0.15s;
  &.port-width- {
    &1 {
      width: 24%;
    }
    &2 {
      width: 49.5%;
    }
    &3 {
      width: 74%;
    }
    &4 {
      width: 100%;
    }
  }
  &.port-height- {
    &1 {
      height: 12em;
    }
    &2 {
      height: 25em;
    }
  }
  a {
      width:100%;
      height:100%;
      &:hover {
        background-color: rgba(0,0,0,0.8);
        transition: background-color ease 0.15s;
        text-decoration: none;
        cursor: pointer;
      }
  }
}
.portfolio-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .link-content {
    text-align:center;
    display:none;
    flex-direction: column;
    height:100%;
    max-height: 150px;
    justify-content: space-around;
    color: #fff;
  }
  &:hover .link-content {
    display:flex;
  }
}

// 3.40 - SOCIAL LOOP
.social-row {
    text-align:center;
    a {
        display: inline-block;
        margin:0 15px;
        border-bottom: 2px solid transparent;
    }
    a:hover {
        text-decoration: none;
        border-color: #111;
    }
    i {
        cursor:pointer;
        font-size:2.25em;
    }
}
// 3.50 - SKILLS LOOP
.skills-block {
    @include blkstruc(30%);
    &:nth-of-type(1) {
        float:left;
    }
    &:nth-of-type(2) {
        margin: 0 auto;
        position: relative;
        left: 5%;
    }
    &:nth-of-type(3) {
        float:right;
    }

}
.skills- {
    &left {
        width: 22%;
        float:left;
        display:inline-block;
        vertical-align:top;
    }
    &center {
        width: 37%;
        margin:0 auto;
        display:inline-block;
        vertical-align:top;
    }
    &right {
        width:37%;
        float:right;
        display:inline-block;
        vertical-align:top;
    }
}
.skills-img {
    text-align:left;

    margin-bottom:.5em;
    margin-top: .5em;
    /* border-bottom: 3px #eee solid; */
}
.skill-items {
    padding: 5px 10px;
}
.skills-ico {
    display:inline-block;
    position:relative;
    &.ico-size-tri {
        i {
            font-size: 2.25em;
            margin-top:-1em;
        }
    }
    &.ico-size-sec {
        top:-1em;
        i {
            font-size: 2.5em;
            padding: 0 .05em;
        }
    }
    &.ico-size-pri i {
        font-size: 5em;
        padding:0em;
    }
}
// 3.60 - CONTACT FORM LAYOUT
.contact-holder {
    @include blkstruc(24%);
    margin-right:1%;
    float:left;
}
.form-holder {
    @include blkstruc(74%);
    margin-left: 1%;
    float:right;
}

.form-holder.new {
  @include blkstruc(100%);
}

.home-section.contact {
  background-color: $grey-color-dark;
  padding: 30px 0 20px;
  h2 {
    font-family: $brand-font;
    color: #fff;
  }
  .form-title {
    color: #fff;
  }
}

// 3.70 - PROJECT FOLIO LAYOUT

.folio-features {
  margin: 60px 0;
}

.folio-banner {
  height: 300px;
}

.post-content .main-notes {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  .notes-left {
    flex-basis: 66%;
  }
  .notes-right {
    flex-basis: 33%;
  }
}

.feature-image {
  &.spacing- {
    &none {
      margin-top: 0;
    }
    &small {
      margin-top: 10px;
    }
    &default {
      margin-top: 20px;
    }
    &mid {
      margin-top: 30px;
    }
    &large {
      margin-top: 40px;
    }
  }
  &.feature-half {
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    div {
      flex-basis: 49%;
      align-self: center;
    }
  }
}

// 3.80 - PHOTO FOLIO LAYOUT

.photofolio {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:1em;
}
.photo-header {
  background-size:cover;
  background-position:50%;
  height: 300px;
}
.grid-photo {
  background-size: cover;
  background-position: 50%;
  margin-bottom: 1em;
  &.photo-content {
  }
  &.photo-height- {
    &1 {
      height: 12em;
    }
    &2 {
      height: 25em;
    }
  }
  &.photo-width- {
    &1 {
      flex-basis: 24%;
    }
    &2 {
      flex-basis: 49%;
    }
    &3 {
      flex-basis: 74%;
    }
    &4 {
      flex-basis: 100%;
    }
  }
}

// SECTION 5: PAGE SPECIFIC RULES
// 5.10 - ABOUT PAGE
.skills-holder h3 {
    font-family: $secondary-font;
    font-size:1.5em;
}
.statement-holder {
    padding:40px 0;
    font-size: 2em;
}

// 5.20 - CONTACT FORM
.form-title {
    margin-top: 10px;
}
.g-recaptcha {
    margin-top: 5px;
    &> div {
        width: 100% !important;
    }
}

// SECTION 6: SPECIFIC ELEMENTS
.icon-holder {
    // class for the `a` tag, parent of `i` class of an icon
    display:block;
    img {
        width:2.3em;
        height:2.3em;
    }
}

.info-buttons {
    margin-top:20px;
    display:block;
}

.button-link {
    background-color:$grey-color-light;
    color:$grey-color-dark;
    font-family:$secondary-font;
    font-size: 1.3em;
    padding: 8px 20px 5px;
    display:inline-block;
    transition: background-color ease-in-out 200ms;
    &:nth-of-type(odd) {
        margin-right:0em;
    }
    &:hover {
        text-decoration:none;
        background-color:darken($grey-color-light, 10%);
    }
}
.language-js.highlighter-rouge {
    overflow: scroll;
}
.highlighter-rouge {
    td.gutter.gl {
        border-right: $grey-color-dark solid 2px;
    }
    .highlight, pre {
        background-color: $grey-color-light;
    }
    pre {
        margin-bottom: 0;
    }
}
code {
    background-color: #eee;
}
pre.lineno {
    background-color: #333;
    color: #eee;
    border: #333;
    border-radius: 0;
    /* margin-top: 0; */
    padding: 10px;
}
.highlighter-rouge td.gutter.gl {
    border-right: #333 solid 2px;
    padding: 0;
    border-radius: 0;
}

// SECTION 7: DISPLAY NONES
.post-header.no-title {
    display:none;
}
.post-header.silent {
    display:none;
}

// SECTION 8: MOBILE STYLES
// 8.10 - Between 799-1005
@include media-query-maxmin(1005px,799px) {
    h1.post-title {
        margin-left:30px;
    }
}

// 8.20 - Between 768-919
@include media-query-maxmin(919px,768px) {
    .skills-block {
        width:50%;
        height:15em;
        margin-bottom:2em;
    }
    .skills-block:nth-of-type(2) {
        margin-bottom:2em;
    }
    .skills-block:nth-of-type(3) {
        float:left;
    }
}
// 8.30 Below 767
@include media-query(767px) {
    .slider-holder, .portfolio-holder, .content-left, .content-right, .contact-holder, .form-holder, .skills-block {
        width: 100%;
        display:block;
    }
    .skills-block:nth-of-type(2) {
        left: initial !important;
    }
    .avatar-block, .info-block {
        width:48%;
        display:inline-block;
        margin-bottom: 15px;
    }
    .avatar-block {
        float:right;
    }
    .slider-holder {
        height: auto;
    }
    .portfolio-holder, .avatar-block {
        margin-top: 15px;
    }
    .portfolio-block .portfolio-img img {
        width: auto;
        vertical-align: bottom;
        margin:0 auto !important;
    }
    h2.section-heading {
        font-size:2.75em;
    }
    .portfolio-holder {
        margin-left: 0;
    }
    .portfolio-block .portfolio-title {
        font-size:1.5em;
    }
    .slider-holder .slider-title {
        font-size: 2em;
    }
    .slider-holder img {
        max-width: initial;
        width: 100%;
        height: auto;
        top:20%;
    }
    a.button-link {
        width:calc(100% - 2em);
        margin-top:10px;
        margin-right: 20px;
        text-align:left;
    }
}
input.buttons {
    background-color: #000;
    border: 2px #000 solid;
    color: #fff;
    padding: .25em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: 150ms ease-in-out color, 150ms ease-in-out background-color;
    &:hover {
        background-color:#fff;
        color:#000;
    }
}
textarea.form-field.form-message, input.form-field {
    width: calc(100% - 10px);
    border: 1px #000 solid;
    padding: 2px 5px;
}
input.buttons {
    width:100%;
}
// 8.40 Below 600
@include media-query(600px) {
    .title {
        margin-top: 50px;
    }
    .avatar-block {
        margin-top: -15px;
    }
}

// 8.50 Between 601-767
@include media-query-maxmin(767px,601px) {
    h1.post-title {
        margin-bottom: 0px;
        margin-left:15px;
    }
    .skills-img {
        text-align: left;
    }
}

// 8.60 Between 470-800
@include media-query-maxmin(800px,470px) {
    h1.post-title {
        margin-bottom: 0px;
        margin-left:15px;
    }
    .skills-img {
        text-align: left;
    }
}

// 8.70 Below 600
@include media-query(600px) {
    .trigger a.page-link {
        width: initial;
        text-align: left;
        font-size: .75em;
    }
}

// 8.80 Below 470
@include media-query(470px) {
    .trigger a.page-link {
        font-size:.8em;
    }
    .slider-holder {
        .slider-title {
            font-size:1.75em;
        }
        .slider-block {
            height:15em;
        }
        img {
            top:23%;
        }
        .slider-description {
            padding: 5px 8px;
            font-size: 1.1em;
        }
    }

    .portfolio-holder {
        margin-left: 0;
        &.standalone .portfolio-img {
            height:8.5em !important;
        }
    }
    .portfolio-block {
        width: 100%;
        .portfolio-title {
            font-size:1.5em;
        }
        .portfolio-excerpt {
            padding: 5px 8px;
            font-size: 1.1em;
        }
    }
    textarea.form-field.form-message, input.form-field {
        width: calc(100% - 10px);
    }
    input {
        width:100%;
    }
    h2.section-heading {
        font-size: 2.5em;
    }
    .post-header.fullwidth {
        margin-bottom: 30px;
        background: #333;
        padding: 5px 0;
    }
    .avatar-block, .info-block {
        width:100%;
        display:block;
    }
    .avatar-block {
        margin-top:15px;
    }
    .site-subtitle {
        line-height: 1.25em;
        font-size: 1.75em;
    }
    .post-header.fullwidth {
        margin-bottom: 15px;
    }
    .site-title {
        font-size:3.5em;
        margin-bottom:.25em;
    }
    h1.post-title {
        padding: 0 15px;
        margin-top:.15em;
        margin-bottom: 5px;
    }
    img.portfolio-image {
        max-height:200px;
    }
    .site-nav .page-link {
        margin-left: 0px;
    }
    .photo-caption {
        font-size:1em;
    }
    .post-image .media-holder {
        height:120px;
        padding: 10px 25px 0;
    }
    .skills- {
        &block, &block:nth-of-type(2) {
            margin-bottom: 2em;
        }
        &left {
            width: 100%;
            display:block;
            vertical-align:top;
        }
        &center {
            width: 100%;
            display:block;
            vertical-align:top;
        }
        &right {
            width: 100%;
            display:block;
            vertical-align:top;
        }
    }
}
