_site
_drafts
.sass-cache
.jekyll-metadata
.jekyll-cache
.idea

assets/\.DS_Store
assets/images/\.DS_Store

assets/flexfolio/\.DS_Store

assets/flexfolio/djbraj/\.DS_Store

assets/flexfolio/karelxojani/\.DS_Store

\.DS_Store