---
layout: default
title: About
permalink: /about/
weight: 1
---


  <div class="info-block">
    <p>
      I'm a web developer with 4 years of professional experience crafting websites for a wide range of clients.<!-- Beginning with simple 'no code required' websites in 4th grade, I moved on to basic coding, and then WordPress development after that. I also enjoy designing the user experiences and exploring everything else that makes a website tick.--> Currently, I'm a student at the University of Connecticut as a Digital Media and Design major.
    </p>
    <p>
      In addition to development, I also can do graphic design and user experience design work. I believe an overwhelmingly functional website is still nothing without a good and usable design.
    </p>
    <!-- TODO: Add a section of the about page here. -->
    <div class="info-buttons">
      <a class="button-link" href="../assets/emily_resume.pdf">Download My Resume</a>
      <a class="button-link" href="../blog/">Read My Blog</a>
    </div>
  </div>
  <div class="avatar-block">
    <div class="social-row">
      <div class="width-25"><a href="https://www.linkedin.com/in/emilyserven" class="icon-holder"><img src="../assets/icons/linkedin.png"/></a></div>
      <div class="width-25"><a href="https://github.com/emilyeserven" class="icon-holder"><img src="../assets/icons/git.png"/></a></div>
      <div class="width-25"><a href="http://emilyserven.net/blog/" class="icon-holder"><img src="../assets/icons/pencil.png"/></a></div>
      <div class="width-25"><a href="https://twitter.com/emilyeserven" class="icon-holder"><img src="../assets/icons/twitter.png"/></a></div>
      <!-- TODO: Social buttons here. -->
    </div>
    <div class="avatar">
      <!-- TODO: Avatar here. -->
      <img src="../assets/images/emilyavi.png" />
    </div>
  </div>
</div>
    <div class="heading-wrap">
      <h2 class="section-heading">Skills</h2>
    </div>
    <div class="wrapper">
      <div class="skills-holder">

            {% for skills in site.skills %}
              <div class="skills-block">
                <div class="skills-img">
                  <span class="skills-ico ico-size-tri fleft"><img src="{{skills.fleft-ico}}" /></span>
                  <span class="skills-ico ico-size-sec left"><img src="{{skills.left-ico}}" /></span>
                  <span class="skills-ico ico-size-pri main"><img src="{{skills.main-ico}}" /></span>
                  <span class="skills-ico ico-size-sec right"><img src="{{skills.right-ico}}" /></span>
                  <span class="skills-ico ico-size-tri fright"><img src="{{skills.fright-ico}}" /></span>
                </div>
                <div class="skill-items">
                  <h3>{{skills.name}}</h3>
                  <ul>
                  {% for item in skills.skl-items %}
                        <li>
                          {{item}}
                        </li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            {% endfor %}
      </div>
    </div>
  </div>
