---
layout: default-notitle
title: Home
order: 1
---
</div>
<div class="home-section header">
  <div class="wrapper">
      <div class="row">
        <div class="header-box col-md-9 col-xs-12">
          <h2>I develop scalable and usable experiences.</h2>
          <p>(as well as some other fun things)</p>
        </div>
      </div>
      <div class="row">
        <div class="header-button">
          <a href="/webdev/" class="button-link-new">See my Work&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i>&nbsp;</a>
        </div>
      </div>
  </div>
</div>
{% capture announce %}
  {% comment %} Add content for the announcement here! {% endcomment %}
  Check out the case study for my main project while working at Ai Media Group, <a href="/webdev/aitrk/" class="underline-link">AiTrk4</a>!
{% endcapture %}

{% include announcebar.html announceshow=true %}

<div class="wrapper">
  <div class="home-section info">
    <div class="info-section first-one">
      <div class="description col-md-9 col-xs-12">
        <h2>Hi, I'm Emily.</h2>
        <p>
            I am a web application developer with a diverse skillset and a passion for crafting scalable and usable experiences.
        <p>
            Currently, I'm a front-end web developer at <a class="underline-link" href="https://www.luminoso.com/" target="_blank">Luminoso Technologies</a>. Before that, I was a front-end developer at <a class="underline-link" href="http://aimediagroup.com/" target="_blank">Ai Media Group</a>. I am also an alumni of the University of Connecticut's Digital Media and Design program (with a concentration in Web Development and Design).
        </p>
        <p>
            Much of my free time is spent learning and honing my skills as a designer, <a photographer href="/photography" class="underline-link">photographer</a>, and (since quarantine) a learner of 日本語 (Japanese).
        </p>
        <div class="info-buttons">
          <!-- <a class="button-link-new" href="../assets/emily_serven_cv.pdf">Download my CV</a> -->
          <a class="button-link-new" href="../assets/serven_emily_resume.pdf">Download my Resume</a>
        </div>
      </div>
      <div class="headshot-holder col-md-3 col-xs-4 offset-xs-4">
        <img class="headshot" src="/assets/images/emiheadshot.jpg" />
      </div>
    </div>
    <div class="info-section col-md-12">
      <h2>I believe in...</h2>
      <p><a href="/webdev#commercial" class="underline-link">crafting experiences</a> that exceed expectations for my clients.</p>
      <p><a href="/webdev#labs" class="underline-link">experimenting and developing new things</a> by stepping out of my comfort zone.</p>
      <p><a href="/photography" class="underline-link">capturing moments and small details</a> through my explorations and photography.</p>
    </div>
  </div>
</div>
{% include contact.html %}
