---
layout: default
title: Photography
permalink: /photography/
order: 3
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-12">
            <p>Photography for me is a creative outlet, a different way to apply some technical knowledge, and a <i>really</i> great way to get some exercise while discovering new things and places.</p>
            <p>I love learning more in general and dislike pinning myself down to a specific genre. However, I can say that lately I've been particularly interested in capturing <a href="#events" class="underline-link">events</a>, macros, and products.</p>
            <p>Below are curated galleries of my work from commercial photoshoots to smaller day trips and strolls. I hope you enjoy them!</p>
            <p>(Interested in hiring me for a photoshoot? Please do not hesitate to <a href="/contact.html" class="underline-link">contact me</a>.)</p>
        </div>
        <div class="col-md-3 col-12 headshot-holder">
            <img class="headshot mb-2" src="/assets/images/photography-photo-cropped.jpg" />
        </div>
    </div>
</div>
<hr class="thick mt-3 mb-3" />
<div class="col-12">
    <div class="all-work-categories">
      <span class="category-label">Categories:</span>
      {% include layout/category-btn.html name="Events" %}
      {% include layout/category-btn.html name="Creative Portraits" %}
      {% include layout/category-btn.html name="Creative" %}
        <!--<li><a href="#">Media</a></li>-->
    </div>
</div>
<br />

{% comment %} EVENTS SECTION {% endcomment %}

{% include layout/work-block-start.html
    name="Events" %}

    {% include gridblocks/work-block.html
        code="karelxojani"
        size=6 %}

    {% include gridblocks/work-block.html
        code="eot"
        size=6 %}


{% include layout/work-block-end.html %}

{% comment %} CREATIVE PORTRAITS SECTION {% endcomment %}

{% include layout/work-block-start.html
    name="Creative Portraits" %}

    {% include gridblocks/work-block.html
        code="djbraj"
        size=3 %}

    {% include gridblocks/work-block.html
        code="nina"
        size=3 %}


{% include layout/work-block-end.html %}

{% comment %} CREATIVE SECTION {% endcomment %}

{% include layout/work-block-start.html
    name="Creative" %}

    {% include gridblocks/work-block.html
        code="streetart"
        size=6 %}

    {% include gridblocks/work-block.html
        code="nyc-bw-people"
        size=3 %}

    {% include gridblocks/work-block.html
        code="cityscapes"
        size=3 %}


{% include layout/work-block-end.html %}