---
layout: default
title: Work
permalink: /work/
---

  <div class="portfolio-holder new standalone">
    {% for project in site.flexfolio %}
      {% if project.listview == false %}
        <div class="portfolio-square port-width-{{project.flexwidth}} port-height-{{project.flexheight}}" style="background-image: url({{project.project-img}}); order: {{project.flexorder}}">
          <a href="{{project.url}}" class="portfolio-link">
            <div class="link-content">
              <h3>{{project.title}}</h3><p><span class="category-link">{{project.category}}</span></p>
              <!--{% if project.layout == 'photofolio' %}
                <p><b>Posted</b>: {{project.orig-post}}<br /><b>Updated</b>: {{project.last-update}}</p>
              {% endif %}
              {% if project.layout == 'flexfolio' %}
                <p><b>Active</b>: {{project.time}}</p>
              {% endif %} -->
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class="portfolio-list">
      <h2 style="margin-bottom: 10px;">Everything</h2>
      <div class="flex-wrapper">
        <div class="list-column">
          <h3 class="nomargin">Commercial</h3>
          <p>
            <i>Work for clients</i>
          </p>
          <ul>
            {% for project in site.flexfolio %}
                {% if project.category == "Commercial" %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="list-column">
          <h3 class="nomargin">Projects</h3>
          <p>
            <i>Larger non-client work</i>
          </p>
          <ul>
            {% for project in site.flexfolio %}
                {% if project.category == "Project" %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="list-column">
          <h3 class="nomargin">Lab</h3>
          <p>
            <i>Smaller experiments</i>
          </p>
          <ul>
            {% for project in site.flexfolio %}
                {% if project.category == "Lab" %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="list-column">
          <h3 class="nomargin">Photography</h3>
          <p>
            <i>Captured moments</i>
          </p>
          <ul>
            {% for project in site.flexfolio %}
                {% if project.category == "Photography" %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
