---
layout: default
permalink: /portfolio-new3/
---
<div class="wrapper">
  <div class="portfolio-holder new standalone">
    {% for project in site.flexfolio %}
      <div class="portfolio-square port-width-{{project.flexwidth}} port-height-{{project.flexheight}}" style="background-image: url({{project.project-img}}); order: {{project.flexorder}}">
        <a href="{{project.url}}" class="portfolio-link">
          <div class="link-content">
            <p>{{project.title}}<br />{{project.category}}</p>
            {% if project.layout == 'photofolio' %}
              <p>Posted: {{project.orig-post}} | Updated: {{project.last-update}}</p>
            {% endif %}
            {% if project.layout == 'flexfolio' %}
              <p>Active: {{project.time}}</p>
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
