{% comment %}
    Use `spacing` parameter if passed to the include,
    otherwise default to "default".
{% endcomment %}

{% if include.spacing %}
    {% assign spacing = include.spacing %}
{% else %}
    {% assign spacing = "default" %}
{% endif %}

{% if include.border == true %}
    {% assign border = "border-enabled" %}
{% elsif include.border == "thick" %}
    {% assign border = "border-enabled--thick" %}
{% else %}
    {% assign border = "" %}
{% endif %}

{% assign featureimage-url = {{site.baseurl | append: '/assets/flexfolio/' | append: page.code | append: '/' | append: include.image }} %}
{% assign technicalID = include.technicalID %}

<div class="feature-image row spacing-{{spacing}} {{border}}">
    <div class="image-holder col-md-6 col-12 mb-3 mb-md-0">
        <img src="{{featureimage-url}}" />
    </div>
    <div class="caption-holder col-md-6 col-12">
        <div class="feature-description">
            {{include.descrip}}
        </div>
        <br />
        {% if technicalID %}
        <div class="technical-button-holder">
            <button class="btn btn-primary btn-tech-details" type="button" data-toggle="collapse" data-target="#{{technicalID}}" aria-expanded="false" aria-controls="{{technicalID}}">Show Technical Detail</button>
            {% if include.technicalTopic %}
                <div class="btn-tech-details--topic">{{include.technicalTopic}}</div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>