<!--
PURPOSE: The Technical Detail section for "Custom Press Loop" on aitrk.

WHERE: The FM project page right after the feature-left include with technicalTopic of "Custom Press Loop".

DEPRECATION: None

PARAMETERS:
- name
- id
- capture
- bgpos
- bgsize
- ext: (Optional, unused?)
    Use `ext` YAML variable if it exists, otherwise
    use the `ext` parameter if passed to the include,
    otherwise default to "jpg".
    The `ext` variable controls the image extensions.
    It should be jpg (lowercase) for compression and
    consistency's sake, generally.
- img-base: (Optional, unused?)
    Use page's `img-base` YAML variable if it exists,
    otherwise use the `img-base` parameter passed to
    th include.
    Otherwise, default to "photo".
- gridtype:
    POSSIBLE PARAMETERS:
        Full: 12-full
        Halves: 66-left, 66-right
        Thirds-ish:363-left, 363-mid, 363-right
        Quarters: 3333-left, 3333-midleft, 3333-midright, 3333-right
        Quarter-3 Quarter: 39-left, 39-right
        3 Quarter-Quarter: 93-left, 93-right
    More info in gridblocks.md
- padding
- height:
    Use `height` parameter if passed to the include,
    otherwise default to "1".
    The `height` variable controls the image block's
    height. Usually 1 and 2 are the values.
- id:
    If the include was passed an id, use the ID
    with page's img-base pre-pended to it.
    The ID should just be pre-pended with a `-`.
    input ex: "01", "10", "100", "-ex", "-test"
    output ex: "photo-01", "photo-ex", "photo-test"

EXAMPLE SYNTAX:
% include gridblocks/photo-block.html
    name="?"
    id="?"
    img-base="?"
    width="col-9"
    height=2
    capture="10.14.2017" %
-->

{% if page.extension %}
    {% assign ext = page.extension %}
{% elsif include.ext %}
    {% assign ext = include.ext %}
{% else %}
    {% assign ext = "jpg" %}
{% endif %}


{% if page.img-base %}
    {% assign filename-base = page.img-base %}
{% else %}
    {% if include.img-base %}
        {% assign filename-base = include.img-base %}
    {% else %}
        {% assign filename-base = "photo" %}
    {% endif %}
{% endif %}

{% if include.gridtype == "12-full" %}
    {% assign padding = "pl-3 pr-3" %}
    {% assign width = "col-12" %}
{% elsif include.gridtype == "66-left" %}
    {% assign padding = "pl-3 pr-3  pl-md-3 pr-md-2" %}
    {% assign width = "col-md-6 col-12" %}
{% elsif include.gridtype == "66-right" %}
    {% assign padding = "pl-3 pr-3  pl-md-2 pr-md-3" %}
    {% assign width = "col-md-6 col-12" %}
    {% comment %} HALVES DONE {% endcomment %}

{% elsif include.gridtype == "363-left" %}
    {% assign padding = "pr-1 pr-sm-3" %}
    {% assign width = "col-3" %}
{% elsif include.gridtype == "363-mid" %}
    {% assign padding = "px-1" %}
    {% assign width = "col-6" %}
{% elsif include.gridtype == "363-right" %}
    {% assign padding = "pl-1 pl-sm-3" %}
    {% assign width = "col-3" %}
    {% comment %} THIRDS DONE {% endcomment %}

{% elsif include.gridtype == "3333-left" %}
    {% assign padding = "pr-1  pr-sm-3" %}
    {% assign width = "col-md-3 col-3" %}
{% elsif include.gridtype == "3333-midleft" %}
    {% assign padding = "px-1  pr-sm-2" %}
    {% assign width = "col-md-3 col-3" %}
{% elsif include.gridtype == "3333-midright" %}
    {% assign padding = "px-1  pl-sm-2 pr-sm-1" %}
    {% assign width = "col-md-3 col-3" %}
{% elsif include.gridtype == "3333-right" %}
    {% assign padding = "pl-1  pl-sm-3" %}
    {% assign width = "col-md-3 col-3" %}
    {% comment %} FOURTHS DONE {% endcomment %}

{% elsif include.gridtype == "39-left" %}
    {% assign padding = "pr-1  pr-sm-3" %}
    {% assign width = "col-3" %}
{% elsif include.gridtype == "39-right" %}
    {% assign padding = "pl-1" %}
    {% assign width = "col-9" %}
    {% comment %} QTR-3QTR DONE {% endcomment %}

{% elsif include.gridtype == "93-left" %}
    {% assign padding = "pr-1" %}
    {% assign width = "col-9" %}
{% elsif include.gridtype == "93-right" %}
    {% assign padding = "pl-1 pr-3  pl-sm-3" %}
    {% assign width = "col-3" %}
    {% comment %} 3QTR-QTR DONE {% endcomment %}

{% elsif include.padding %}
    {% assign padding = include.padding %}
{% else %}
    {% assign padding = "" %}
{% endif %}

{% if include.height %}
    {% assign height = include.height %}
{% else %}
    {% assign height = 1 %}
{% endif %}

{% if include.id %}
    {% assign filename = {{filename-base}} | append: "-" | append: include.id %}
{% else %}
    {% assign filename = "missing.jpg" %}
{% endif %}

{% if include.bgpos %}
    {% assign background-position = "background-position: " | append: include.bgpos | append: ";"%}
{% else %}
    {% assign background-position = "" %}
    {% comment %} inline CSS not required since it's already in the actual CSS. {% endcomment %}
{% endif %}

{% if include.bgsize %}
    {% assign background-size = "background-size: " | append: include.bgsize | append: ";"%}
{% else %}
    {% assign background-size = "" %}
    {% comment %} inline CSS not required since it's already in the actual CSS. {% endcomment %}
{% endif %}

{% if include.capture %}
    {% assign capture = {{include.capture}} %}
{% else %}
    {% assign capture = {{page.orig-post}} %}
{% endif %}

{% comment %} Image URLs are assigned here for readability's sake{% endcomment %}
{% assign bgimg-url = {{site.baseurl | append: '/assets/flexfolio/' | append: page.code | append: '/' | append: filename | append: '.' | append: ext }} %}
{% assign featherlight-url = {{site.baseurl | append: '/assets/flexfolio/' | append: page.code | append: '/' | append: filename | append: '-full.' | append: ext}} %}


<div class="grid-photo {{width}} {{padding}} port-height-{{height}}">
    <div class="block-image" style="background-image: url({{featherlight-url}}); {{background-position}} {{background-size}}">
    <a class="fl-gallery-item" data-featherlight="{{featherlight-url}}">
        <h3>{{include.name}}</h3>
        <p>
        <em>{{capture}}</em>
        </p>
    </a>
    </div>
</div>