<!--
PURPOSE: This block is to link to other projects using an image with text that overlays.

WHERE: Describe where this is usually placed if not already stated.

DEPRECATION: Note if anything needs to be deprecated.

PARAMETERS:
- code
- width
- height
- banner-img

EXAMPLE SYNTAX:
Find it somewhere or note if it's not in use now.
-->

{% assign project = site.flexfolio | where:"code", include.code | first %}

{% if {{include.width}} %}
    {% assign width = {{include.width}} %}
{% elsif {{project.flexwidth}} %}
    {% comment %} OLD Method. Delete when all items don't have it anymore. {% endcomment %}
    {% assign width = {{project.flexwidth}} %}
{% else %}
    {% assign width = "col-6" %}
{% endif %}

{% if {{include.height}} %}
    {% assign height = {{include.height}} %}
{% elsif {{project.flexheight}} %}
    {% comment %} OLD Method. Delete when all items don't have it anymore. {% endcomment %}
    {% assign height = {{project.flexheight}} %}
{% else %}
    {% assign height = 1 %}
{% endif %}

{% if {{project.url}} %}
    {% assign url = {{project.url}} %}
{% else %}
    Nothing
{% endif %}

{% if {{include.banner-img}} %}
    {% assign banner-img = {{include.banner-img}} %}
{% elsif {{project.showcase-img}} %}
    {% comment %} NEW Method. {% endcomment %}
    {% assign showcase-img = {{project.showcase-img}} %}
{% elsif {{project.showcase-img}} %}
    {% comment %} OLD Method. Delete when all items don't have it anymore. {% endcomment %}
    {% assign showcase-img = {{project.showcase-img}} %}
{% else %}
    {% assign banner-img = {{ "" | append: "../assets/flexfolio/" | append: {{code}} | append: "/banner-sc.jpg" }} %}
{% endif %}

<div class="portfolio-square {{width}} port-height-{{height}}">
    <div class="block-image" style="background-image: url({{showcase-img}});">
    <a href="{{url}}" class="portfolio-link">
        <div class="link-content-holder">
        <div class="link-content">
            <h3>{{project.title}}</h3><p><span class="category-link">{{project.subcategory}}</span></p>
        </div>
        </div>
    </a>
    </div>
</div>