{% assign project = site.flexfolio | where:"code", include.code | first %}
{% assign code = {{project.code}} %}

{% if {{include.size}} %}
    {% if {{include.size}} == 3 %}
      {% comment %} 03/12 - 1/4 Fourths {% endcomment %}
      {% assign size = "col-sm-3 col-6" %}
    {% elsif {{include.size}} == 4 %}
      {% comment %} 04/12 - 1/3 Thirds {% endcomment %}
      {% assign size = "col-sm-4 col-12" %}
    {% elsif {{include.size}} == 6 %}
      {% comment %} 06/12 - 1/2 Halfs {% endcomment %}
      {% assign size = "col-sm-6 col-12" %}
    {% elsif {{include.size}} == 12 %}
      {% comment %} 12/12 - 1/1 Fulls {% endcomment %}
      {% assign size = "col-sm-12 col-12" %}
    {% else %}
      {% comment %} 06/12 - 1/2 Halfs {% endcomment %}
      {% assign size = "col-sm-6 col-12" %}
    {% endif %}
{% elsif {{project.workall-size}} %}
    {% assign size = {{project.workall-size}} %}
{% else %}
  Else
    {% assign size = "col-sm-6 col-12" %}
{% endif %}

{% if {{include.casestudy}} == true %}
    {% assign casestudy = true %}
{% elsif {{project.casestudy}} == true %}
    {% assign casestudy = true %}
{% else %}
    {% assign casestudy = false %}
{% endif %}

{% if {{include.banner-img}} %}
    {% assign banner-img = {{ "" | append: "../assets/flexfolio/" | append: {{code}} | append: "/" | append: {{include.banner-img}} }} %}
{% elsif {{project.workall-img}} %}
    {% assign banner-img = {{project.workall-img}} %}
{% else %}
    {% assign banner-img = {{ "" | append: "../assets/flexfolio/" | append: {{code}} | append: "/banner.jpg" }} %}
{% endif %}

{% if casestudy == true %}
    {% assign block-url = {{project.url}} %}
{% else %}
    {% assign block-url = {{project.projlink[0].url}} %}
{% endif %}

<div class="work-block {{size}} {{project.category}}-block">
  <a href="{{block-url}}"><img src="{{banner-img}}" /></a>
  <p class="workall-info">
    {% if project.category == "photo" %}
      <a href="{{block-url}}" class="work-block--title"><b>{{project.title}}</b> ➝</a><br />
    {% elsif casestudy == false %}
    <a href="{{block-url}}" target="_blank" class="work-block--title"><b>{{project.title}}</b>&nbsp; <i style="font-size: 0.8em;" class="fa fa-external-link"></i></a><br />
    {% else %}
      <a href="{{block-url}}" class="work-block--title"><b>{{project.title}}</b></a><br />
    {% endif %}
    {% comment %}
    {% if casestudy == true and project.category != "photo" %}
      <a href="{{project.url}}" alt="Case Study"><i class="fa fa-archive"></i></a>&nbsp;&nbsp;
    {% endif %}
    {% for link in project.projlink %}
      <a href="{{link.url}}" alt="{{link.name}}"><i class="fa {{link.icon}}"></i></a>&nbsp;&nbsp;
    {% endfor %}
    {% endcomment %}
  </p>
</div>