{% assign project = site.flexfolio | where:"code", include.code | first %}

{% if {{include.workall-size}} %}
    {% assign workall-size = {{include.workall-size}} %}
{% elsif {{project.workall-size}} %}
    {% assign workall-size = {{project.workall-size}} %}
{% endif %}

{% if {{include.casestudy}} == true %}
    {% assign casestudy = true %}
{% elsif {{project.casestudy}} == true %}
    {% assign casestudy = true %}
{% endif %}

{% assign code = {{project.code}} %}

<div class="work-block {{workall-size}}">
  <img src="../assets/flexfolio/{{code}}/all-banner.jpg" />
  <p class="workall-info">
    <b>{{project.title}}</b><br />
    {% if casestudy == true %}
      <a href="{{project.url}}" alt="Case Study"><i class="fa fa-archive"></i></a>&nbsp;&nbsp;
    {% endif %}
    {% for link in project.projlink %}
      <a href="{{link.url}}" alt="{{link.name}}"><i class="fa {{link.icon}}"></i></a>&nbsp;&nbsp;
    {% endfor %}
  </p>
</div>