<!--
PURPOSE: Show an "announcement bar" if there is an announcement.

INCLUDE WHERE?
 - Homepage: This is currently just coded for the homepage, but could probably be a more independent component in the future.
-->

{% if include.announceshow == true %}
    <div class="home-section announce">
        <div class="wrapper">
        <div class="row px-3">
            <div class="col-12">
            <p class="mb-0">
                {{ announce }}
            </p>
            </div>
        </div>
        </div>
    </div>
{% endif %}