<!--
PURPOSE: This is the individual blog post within the blog loop.

WHERE: Intended to be used inside a `for` loop asking for `site.tags.<TAG>` (see example syntax).

DEPRECATION: Looks like it was on its way towards being deprecated because there's a file called `blog-loop-new.html` that isn't actually being used.

PARAMETERS: None, but the input is done before the include via the `for` loop it should be nested inside.

EXAMPLE SYNTAX:
{% for post in site.tags.design %}
  {% include blog-loop.html %}
{% endfor %}
-->

<li>
  {% include blog-media.html %}
  <span class="post-cat">
    {% assign tags_list = post.tags | sort %}
    {% for tag in tags_list %}
      {% if forloop.last == true %}
        <a href="/topics/{{ tag }}" class="active">{{ tag | capitalize }}</a>
      {% else %}
        <a href="/topics/{{ tag }}" class="active">{{ tag | capitalize }}</a>,
      {% endif %}
    {% endfor %}
  </span> | <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  <h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p>{{ post.excerpt }}</p>
  <div class="clearfix">
  </div>
</li>
