<div class="contact-holder">
  <p><br />If you think I may be right for your website project, please don't hesitate to contact me. I always reply within 2 business days.</p>
</div>
</form>
<div class="form-holder standalone">
  <form id="contact-form" action="https://api.formbucket.com/f/buk_NAv570sJlLysNEXpblt8Bsn5" method="post" target="_blank">
    <div class="content-left">
      <div class="form-title">Name:</div>
      <input type="text" name="name" placeholder="Enter your name" class="form-field">
    </div>
    <div class="content-right">
      <div class="form-title">Email:</div>
      <input type="email" name="_replyto" placeholder="Enter your email" class="form-field">
    </div>
    <div class="clearfix"></div>

    <div class="form-title">Website <span style="color:#aaaaaa">(If applicable)</span>:</div>
    <input type="email" name="website" placeholder="Enter your website" class="form-field">

    <div class="form-title">Message:</div>
    <textarea name="message" rows="5" placeholder="Enter your message" class="form-field form-message"></textarea>

    <input type="hidden" name="_subject" value="Website contact" />
    <input type="hidden" name="_next" value="/" />
    <input type="text" name="__bucket_trap__" value="" style="display: none" />

    <br />
    <div class="g-recaptcha" data-sitekey="6LdgnA4UAAAAAKTubWvu9jTBB1hduicgHELK6NkI"></div>
    <br />

    <div class="buttons-container">
       <input type="submit" value="Send" class="buttons">
    </div>

  </form>
  <br />
</div>
