<!--
PURPOSE: The contact area is actually the same site-wide. It's defined here.

WHERE: This needs to be siblings with other `container` classed elements.

DEPRECATION: Not necessary, this is frequently used.

PARAMETERS: None

EXAMPLE SYNTAX:
% include contact.html %
-->

<div class="container-fluid contact-ribbon">
  <div class="wrapper px-0 px-md-4">
    <div class="col-12 px-0 px-md-4">
      <p>
        I am <b>available</b> for commercial website development projects as well as photography work!
      </p>
      <p>
        If you think I might be a good fit for either of those, please email me at <a class="underline-link" href="mailto:emily@servenupwebsites.net">emily@servenupwebsites.net</a> and I'll get right back to you.
      </p>
    </div>
  </div>
</div>
