<div class="container-fluid contact-ribbon">
  <div class="wrapper px-0 px-md-4">
    <div class="col-12 px-0 px-md-4">
      <p>
        I am currently <b>seeking full-time employment</b> opportunities and hope to continue developing web applications with <b>JavaScript</b>!
      </p>
      <p>
        I am also <b>available</b> for commercial website development projects!
      </p>
      <p>
        If you think I might be a good fit for either of those, please email me at <a class="underline-link" href="mailto:emily@emilyserven.net">emily@emilyserven.net</a> and I'll get right back to you.
      </p>
    </div>
  </div>
</div>