<footer class="site-footer">

  <div class="footer-section contact">
    <div class="wrapper">
      <div class="section-third">
        <div class="contact-section new">
          <a class="button-link-new" href="/contact/">Contact Me</a>
        </div>
        <div class="social-section new">
          <a href="https://github.com/emilyeserven/"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/emilyserven/"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://500px.com/emilyeserven"><i class="fa fa-2x fa-500px" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="section-twothird">
        <p>
          <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/work/">Work</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/blog">Blog</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact/">Contact</a>
        </p>
        <p>
          Developed and Design by Emily Serven.<br />
          <a href="https://github.com/emilyeserven/emilyeserven.github.io" class="underline-link">View this site's GitHub repository here!</a>
        </p>
      </div>
    </div>
  </div>

<!--
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}<br />
          <a href="https://github.com/emilyeserven/emilyeserven.github.io" target="_blank">Visit the Github repo here!</a>
        </p>
      </div>
    </div>
-->
  </div>
</footer>
