<!--
PURPOSE: Footer of the page - came with the theme and certain pieces weren't modified too heavily.

WHERE: The bottom of most layout pages.

DEPRECATIONS: None

PARAMETERS: None

EXAMPLE SYNTAX:
% include footer.html %
-->

<footer class="site-footer">

  <div class="footer-section contact">
    <div class="wrapper">
      <div class="section-third col-md-4 col-xs-12">
        <div class="contact-section new">
          <a class="button-link-new" href="mailto:emily@emilyserven.net">Contact Me</a>
        </div>
        <div class="social-section new">
          <a href="https://github.com/emilyeserven/"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/emilyserven/"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/emilyserven/"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://500px.com/emilyeserven"><i class="fa fa-2x fa-500px" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="section-twothird col-md-8 col-xs-12">
        <p>
          <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/webdev/">Web Dev</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/photography">Photography</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact/">Contact</a>
        </p>
        <p>
          Developed and Designed by Emily Serven.<br />
          <a href="https://github.com/emilyeserven/emilyeserven.github.io">View this site's GitHub repository here!</a>
        </p>
      </div>
    </div>
  </div>
</footer>
