---
layout: default-nowrap
---
{% if page.bgsize %}
    {% assign bgsize = "" | append: "background-size: " | append: page.bgsize | append: ";" %}
{% else %}
    {% assign bgsize = "background-size: cover;" %}
{% endif %}

{% if page.bgpos %}
    {% assign bgpos = "" | append: "background-position: " | append: page.bgpos | append: ";" %}
{% else %}
    {% assign bgpos = "background-position: 50%;" %}
{% endif %}

<article class="post">
  <div class="folio-banner" style="background-image: url({{ site.baseurl | append: '/assets/flexfolio/' | append: page.code | append: '/banner-pg.jpg'}}); {{bgsize}} {{bgpos}}"></div>
  <div class="wrapper">
    <div class="row">
      <div class="folio-header">
        <div class="col-12">
          <p class="backlink">
            {% if page.category == "webdev" %}
              <a href="/webdev"><small>Back to Web Dev Portfolio</small></a>
            {% elsif page.category == "photo" %}
              <a href="/photography"><small>Back to Photography Portfolio</small></a>
            {% endif %}
          </p>
        </div>
        <div class="col-12">
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
      </div>
      <!-- END folio-header -->
      <div class="container-fluid">
        {% if page.category == "photo" %}
          <div class="row fl-gallery">
            {{ content }}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- END row -->
</article>
