---
layout: default-nowrap
---
<article class="post">

  <header class="photo-header" style="background-image: url({{page.banner}})">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
<div class="wrapper">
  <div class="post-content photofolio">
    <div class="grid-photo photo-content photo-width-2 photo-height-1">
      {{content}}
    </div>
    {% for photo in page.photogrid %}
      <div class="grid-photo photo-width-{{photo.width}} photo-height-{{photo.height}}" style="background-image:url({{photo.thumb}});"></div>
    {% endfor %}
  </div>
</div>
</article>
