---
layout: default-photo
---
<article class="post">

  <header class="photo-header" style="background-image: url({{page.banner}})"></header>
<div class="wrapper">
  <p class="backlink">
    <a href="/work"><small>Back to Portfolio</small></a>
  </p>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-content photofolio">
    <div class="grid-photo photo-content photo-width-2 photo-height-1">
        {{content}}
      </p>
      <p>
        <strong>Locations:</strong> {{page.location}}<br />
        <strong>First Capture:</strong> {{page.orig-post}}<br />
        <strong>Latest Update:</strong> {{page.last-update}}
      </p>
    </div>
    {% for photo in page.photogrid %}
      <div class="grid-photo photo-width-{{photo.width}} photo-height-{{photo.height}}" style="background-image:url({{photo.thumb}});">
        <a data-featherlight="{{photo.full}}">
          <h3>{{photo.name}}</h3>
          <p>
            <em>captured:<br />{{photo.capture}}</em>
          </p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
</article>
