---
layout: default
---
<article class="post">

  <header class="post-header silent">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    <div class="content-left">
        {{ content }}
    </div>
    <div class="content-right">
      <b>Services Provided</b>:
        {{ page.tags | join: ', ' }}
      <p><b>Time of Project</b>: {{ page.time }}<br />
      <b>Platform</b>: {{ page.platform }}<br />
      <b>Category</b>: {{ page.categories }}</p>
    </div>
  <div class="clearfix"></div>
    {% for photo in page.pageimg %}
      <div class="photo-block">
        <img src="{{ photo.feat-image }}" alt="{{ photo.img-name }}" class="portfolio-image bg-{{page.code}}"/>
        <span class="photo-caption">
          {{ photo.img-name }}
        </span>
        <br />
      </div>
    {% endfor %}
  </div>

</article>
