---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <!-- <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1> -->
    </header>

    <div class="post-image">
        <div class="media-holder bg-{{ page.media-bgcolor }} layout-{{ page.media-layout }} weight-{{ page.media-layweight }} textcolor-{{ page.textcolor }}">
          <div class="media-col media-col-1">
            {{ page.col1-content }}
          </div>
          <div class="media-col media-col-2">
            {{ page.col2-content }}
          </div>
          <div class="media-col media-col-3">
            {{ page.col3-content }}

          </div>
        </div>
    </div>
    <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>


</article>
