<!--
PURPOSE: The Technical Detail section for "Custom Press Loop" on aitrk.

WHERE: The FM project page right after the feature-left include with technicalTopic of "Custom Press Loop".

DEPRECATION: None

PARAMETERS: None

EXAMPLE SYNTAX:
% include flexfolio/fm/customPressLoop.html %
-->

{% comment %} START -- fmTech1 TECHNICAL DETAIL {% endcomment %}

{% include technical/detail-card-start.html
    techID = "fmTech1" %}

{% include technical/detail-header.html
    title="User Scenario" %}

{% include technical/detail-row.html
    row-split = "4-8" %}

<p>
   Feyer just had a press article written about his new song. He wants to quickly add it to his website without needing to worry about messing up the formatting and/or presentation of the other Press items.
</p>
<h5>Custom Press Loop Steps</h5>
<ol>
    <li>Feyer adds a new Press post and fills in a few designated fields are filled in with relevant information.</li>
    <li>The new post is active on the website and Feyer can go back to entertaining his fans.</li>
</ol>

{% include technical/detail-header.html
    endDivCount = 2
    title="How I Built the Custom Press Loop" %}

{% include technical/detail-row.html
    row-split = "4-8"
    image = "/assets/flexfolio/fm/techdetail1-1.png"
    caption = "A press post's custom field group."
    row-classes = "mt-2" %}

<h5>①</h5>
<p>
    During initial website creation, a new post type ("Press") was created.
</p>
<ul>
    <li>
        Keeping the press posts away from the default posts meant that core WordPress functionality was not touched.
    </li>
    <li>
        Creating a new post type enabled the creation of new custom fields (pictured to the side). These custom fields allowed for standardization and validation of information.
    </li>
</ul>

{% include technical/detail-row.html
    hrType = "thin"
    row-split = "4-8"
    image = "/assets/flexfolio/fm/techdetail1-2.png"
    imageStyles = "max-width: 200px;padding-top:8px;"
    imageClasses = "text-center"
    caption = "The result of step ①'s custom fields being filled out."
    row-classes = "mt-2" %}

<h5>②</h5>
<p>
    A view template for individual Press posts was created. This utilized the custom fields.
</p>

{% include technical/detail-row.html
    hrType = "thin"
    row-split = "4-8"
    image = "/assets/flexfolio/fm/techdetail1-3.png"
    caption = "The main Press page with each Press post using the same view template."
    row-classes = "mt-2" %}

<h5>③</h5>
<p>
    A page template with a custom loop containing the Press posts got assigned to the Press Archive page. This ensured that as soon as a new Press post got added, it showed up on the website with designated formatting.
</p>


{% include technical/detail-header.html
    endDivCount = 2
    title="Typical Setups and Their Drawbacks" %}

{% include technical/detail-row.html
    row-split = "4-8" %}

<h5>WordPress Set-ups</h5>
<p>
    Oftentimes when WordPress sites have a Press page, they have two options (with their own drawbacks).
</p>
<p>
    1: Build out a page with a visual editor plugin: This seems simple at first, but making sure that every item has the same visual settings can become a challenge the larger the Press list grows.
</p>
<p>
    2: Use the core WordPress post functionality: This has the same scale problem as the first option, but also an create a challenge down the road if the client wants to actually use the default blog post functionality. Not only that, but out-of-the-box URL slugs will still read as <code>post</code>, instead of <code>press</code>.
</p>
<h5>Other Site Builders</h5>
<p>
    Many website builders nowadays advertise building tools that don't require coding, however actually using these tools to get exact results you want can be difficult. This problem is increased further when mobile is factored in, and clients aren't sure why a change in desktop view also made a change in mobile view.
</p>
<p>
    Additionally, there are many websites that don't allow for the editing of CSS, which makes it very difficult for clients to achieve their exact design visions.
</p>
<h5>Closing Notes</h5>
<p>
    Overall, the upfront cost of this method was steeper than just starting off with a visual/WYSIWYG builder, however it absolutely saved time and stress in the long run.
</p>

{% include technical/detail-card-end.html
    endDivCount = 6 %}

{% comment %} END -- fmTech1 TECHNICAL DETAIL {% endcomment %}